@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.1/css/bootstrap.min.css');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f3f3;
}

::-webkit-scrollbar
{
	width: 0px;
}

a {
    color: #000;
    text-decoration: none;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    background: linear-gradient(to right, #ff5100, #0077ff);
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
}


.experience-list > li {
    margin-bottom: 25px;
}


.experience-list > li > h5 {
    font-weight: 600;
    color: #0077ff;
    font-size: 20px;
}

.experience-list > li > b {
    font-weight: 600;
    font-size: 17px;
}


/* Print CSS */

@media print {
    body {
        /* box-sizing: border-box; */
        background-color: #fff;
        /* border: 1px double #000; */
    }
}